/* Aqui serão feitas as customizações que não existem no Bootstrap */
/* Todas as classes customizadas começarão com "c-" */

/* Favor fazer comentários em todas as classes */

.c-navbar-background { /* Cor de fundo da barra de navegação */
    background-color: rgb(65, 0, 83);
}

.c-link-hover:hover { /* Links cinzas ao passar o mouse na barra de navegação */
    color: rgb(200, 200, 200) !important;
}

.c-active { /* Adiciona o sublinhado no link ativo da barra de navegação */
    text-decoration: underline;
}

.c-navbar-text-size { /* Altera o tamanho dos links na barra de navegação */
    font-size: 1.1em;
}

.c-title { /*posiciona a div do titulo da pagina*/
    margin-top: 20px;
}

.c-title-h3 { /*Altera cor e configura em negrito o título da pagina */
    color: rgb(65, 0, 83);
    font-weight: bold;
}

.c-subtitle-h4 { /*Altera cor e configura em negrito o título da pagina */
    color: rgb(65, 0, 83);
    font-weight: bold;
}

.c-div-carousel { /*posiciona a div do sub-titulo "Principais Atrações"*/
    margin-top: 20px;
}

.c-carousel { /*posiciona o Carrosel e Redimensiona seu tamanho*/
    margin-top: 1em;
    width: 50%;
}

.pAtracao { /*posiciona o texto de descrição da Atração Principal*/
    width: 40%;
}

.botao { /*Configura, Redimensiona e posiciona o botão, colocando o fundo roxo, cor da fonte em branco e negrito*/
    background-color: rgb(65, 0, 83);
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}  