/* Aqui serão feitas as customizações que não existem no Bootstrap */
/* Todas as classes customizadas começarão com "c-" */

/* Favor fazer comentários em todas as classes */

.c-background-purple { /* Cor de fundo da barra de navegação */
    background-color: rgb(65, 0, 83);
}

.c-background-purple-hover:hover { /* Background hover para botões*/
    background-color: rgb(45, 0, 75);
}
.c-background-purple-hover:focus { /* Background hover para botões*/
    background-color: rgb(45, 0, 75);
} 

.c-link-hover:hover { /* Links cinzas ao passar o mouse na barra de navegação */
    color: rgb(200, 200, 200) !important;
}

.c-active { /* Adiciona o sublinhado no link ativo da barra de navegação */
    text-decoration: underline;
}

.c-navbar-text-size { /* Altera o tamanho dos links na barra de navegação */
    font-size: 1.1em;
}

.c-title { /* Todos os títulos usarão essa classe */
    color: rgb(65, 0, 83);
    font-weight: 600;
}

.c-border-purple { /* Customiza o hr */
    border: 1px solid rgb(65, 0, 83);
}

.c-min-90 { /* Define a altura minima da página para posicionar o footer */
    min-height: 90vh;
}

.dropdown-item:active { /* Altera a cor ao clickar nos links dos dropdowns */
    background-color: rgb(65, 0, 83);
}

.c-sala-img {
    max-width: 350px;
}